<!doctype html>
<html>
    <head>
        <title>Enter the Vale</title>
    </head>
    <body>
        <h1>Welcome, stranger.</h1>
        <p><b>{{answer}}</b></p>
        <p>To enter the Vale, you need to be invited in, else you will be pushed out
            from the moon gate</p>
        <p>Tell us your name and password, and then if you are noble enough, we will
            give you an invitation.</p>
        <form method="post" action="/">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Request Invitation">
        </form>
    </body>
