extends layout

block content
  h1 
  div(class=['container'])
    div(class=['row'])
      div(class=['one-half', 'column'])
        img(src='https://typeset-beta.imgix.net/2016/5/1/waif-9390a65b-26b5-477b-8863-2abede98b153.png')
        h4 The Waif
        unless get
          if auth
            p This is the flag:
            code flag{@rya_is_@ctually_the_waif}
          else
            p
              strong Wrong
        p Who are you?
        form(method='post' action='/')
          input(type='text' name='name')
          input(type='submit' value='Submit')
